.links {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.links a {
    text-decoration:none;
    color: black;
    background-color: white;
    line-height: 70px;
    padding-left: 20px;
    font-size: 28px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 3px 2px rgb(124, 151, 169);

}

.links a:hover {
    border-width: 2px;
    border-color: black;
    border-style:solid;
}


