.menuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  width:95%;
  height: calc(100vh - 200px);
  overflow: hidden; 
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 100%; 
  height: 90%;
  margin-right: 50px;
}

.gridContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: white;

  font-size: 28px;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgb(124, 151, 169);
  transition: all 0.2s ease-in-out;

  width: 100%;
  height: 100%;
}

.gridContainer a:hover {
  border: 2px solid black;
  transform: scale(1.015);
}
.gridContainer a:hover {
    font-weight: 700; 
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}


.imageSwapContainer {
  position: relative;
  width: 128px;
  height: 128px;
  margin-bottom: 12px;
}

.imageGray,
.imageColor {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  transition: opacity 0.3s ease;
}

.imageColor {
  opacity: 0;
}

.gridContainer a:hover .imageGray {
  opacity: 0;
}

.gridContainer a:hover .imageColor {
  opacity: 1;
}
