<script>
  document.getElementById("btn").addEventListener("click", function () {
  window.location.href = "/login"; });
</script>

<div class="contact_container">
  <div class="contact">
    <div class="contact_info">
      <h3>
        If you have any concern please contact any of the developers :)
      </h3>
    </div>
    <p>Mark Ang - mark_ang@dlsu.edu.ph</p>
    <p>Shawn Co Chiong - shawn_cochiong@dlsu.edu.ph</p>
    <p>Aljirah Resurreccion - aljirah_resurreccion@dlsu.edu.ph</p>
    <p>Andrei Tamse - andrei_tamse@dlsu.edu.ph</p>
  </div>
</div>