<div class="page">
  <div class="timeslot_container">
    <div class="user-profile">
      <img
        src="../images/avatar.png"
        alt="User Profile Picture"
        width="80"
        height="80"
      />
      <div class="user-info">
        <!-- Display user's name and email dynamically -->
        <strong class="user-name"></strong>
        <br />
        <span class="user-email"></span>
      </div>

      <p class="my_reservation">My Reservation</p>

    </div>

    <!-- Display user's description dynamically -->
    <div class="user-description-box">
      <p class="user-description"></p>
    </div>

    <table class="lab_reservations">
      <thead>
        <tr>
          <th>Room</th>
          <th>Seat Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>

        </tr>
      </tbody>
    </table>
  </div>
</div>