<body>
  <div class="wrapper action-popup">
    <div class="form-box login">
      <h2>User Login</h2>
      <form action="#">
        <div class="inputbox">
          <span class="email-icon"></span>
          <input type="email" id="login-email" required />
          <label for="login-email">Email</label>
        </div>

        <div class="inputbox">
          <span class="password-icon"></span>
          <input type="password" id="login-password" required />
          <label for="login-password">Password</label>
        </div>

        <div class="remember-me">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Remember Me</label>
        </div>

        <div>
          <button type="submit" class="login-submit">Login</button>
        </div>

        <div class="register">
          <p>
            Don't have an account?
            <a href="#" class="reg-link">&nbsp;Register</a>
          </p>
        </div>
      </form>
    </div>
    <!--boxlogin div-->

    <div class="form-box register">
      <h2>User Registration</h2>
      <form action="#">
        <div class="inputbox">
          <span class="user-icon"></span>
          <input type="text" id="reg-username" required />
          <label for="reg-username">Name</label>
        </div>

        <div class="inputbox">
          <span class="email-icon"></span>
          <input type="email" id="reg-email" required />
          <label for="reg-email">Email</label>
        </div>

        <div class="inputbox">
          <span class="password-icon"></span>
          <input type="password" id="reg-password" required />
          <label for="reg-password">Password</label>
        </div>

        <div class="inputbox">
          <span class="usertype-icon"></span>
          <select id="user-type" required>
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
          </select>
          <label for="user-type">User Type</label>
        </div>

        <div>
          <button type="submit" class="register-submit">Register</button>
        </div>

        <div class="login">
          <p>
            Already have an account?
            <a href="#" class="login-link">&nbsp;Login</a>
          </p>
        </div>
      </form>
    </div>
    <!--registerlogin div-->
  </div>
  <!--wrapper div-->
</body>