@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  .searchContainer {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .searchContainer input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #ACCBE0;
    border: none;
    width: 100%;
  }

  .searchContainer button {
    font-size: 12px;
    font-family: 'JetBrains Mono';
    cursor: pointer;
    background-color: #ff0000aa;
    color: white;
    border:none;
    border-radius:5px;
    padding: 10px;
    text-transform: uppercase;
  }

  .searchContainer button:hover {
    background-color: darkred;
  }

  .searchBox {
    border-radius: 20px;
    box-shadow: 0px 3px 2px rgb(124, 151, 169);
    background-color:white;
    width: 800px;
    margin-bottom:20px;
    padding: 30px;
    display: flex;
    flex-direction:column;
    font-size:30px;

}

.tableContainer {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgb(124, 151, 169);
  overflow: hidden;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tableContainer th, .tableContainer td {
  text-align: left;
  padding: 10px;
  white-space: nowrap;
}

.tableContainer th {
  font-family: "JetBrains Mono";
  background-color: #015FA9;
  color: white;
  text-transform: uppercase;
}

.tableContainer td {
  border-bottom: 1px solid #ddd;
  font-family: "Inter";
}

.tableContainer tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableContainer td:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actionButton {
  background-color: #e0e0e0;
  color: #015FA9;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #015FA9;
  color: white;
}

.noRecord {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8d7da;
  color: #721c24;
  font-size: 18px;
  font-weight: bold;
}

.infoContainer{
  display:flex;
  flex-direction: row;
  gap: 50px;
  width: 85%;
}


.dateInput::before {
  content: "Enter employee's hiring date";
  color: #999;
  margin-right: 0.5em;
}
.dateInput:focus::before {font-size: 12px;
    font-family: 'JetBrains Mono';
    cursor: pointer;
    background-color: #ff0000aa;
    color: white;
    border:none;
    border-radius:5px;
    padding: 10px;
    text-transform: uppercase;

  content: "";
}

.infoContainer > .addButton{
  width: 100%;
  padding: 100px;
}

.buttonDesign{
font-size: 24px;
    font-family: 'JetBrains Mono';
    cursor: pointer;
    background-color: #ff0000aa;
    color: white;
    border:none;
    border-radius:5px;
    padding: 10px;
    text-transform: uppercase;

}
